.navbar {
    display: flex;
    background-color: #1c1a36;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #FDFFF1;
    height: 2.8em;
}

.navbar a {
    color: #FDFFF1;
    text-decoration: none;
}

.right_nav {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 12em;
}

.navbar li {
    padding: 1.4em 2.5em;
    margin: 0 1em;
    font-size: 17px;
    transition: margin 0.2s ease-in-out;
    display: inline-block;
    position: relative;
}



.title {
    line-height: 1.15;
    font-size: 19px;
}

.logo {
    width: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 0.25em;
}

.icon_arrow {
    margin-bottom: 0.16em;
}

.i18n {
    height: 100%;
    width: 5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-top: 1.5em;
    cursor: pointer;
}


.i18n:hover .i18n_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i18n_content {
    display: none;
    position: absolute;
    background-color: #FDFFF1;
    border: 1px solid #eaeaea;
    width: 3.2em;
    z-index: 1;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.68em;
    margin-top: 0.4em;
}

.i18n_content:hover {
    background-color: #1c1a36;
    border: 1px solid #1c1a36;
}